@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #faf8f6;
    --foreground: #321c16;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-inter), sans-serif;
  }
}
